<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 d-flex">
      <div class="me-3 text-center">
        <% if current_user %>
        <h5 class="mb-2">Welcome, <%= current_user.email %></h5>
        <%= link_to "Start Chatting", rooms_path, class: "btn btn-primary" %>
        <%= image_tag(current_user.avatar_thumbnail, class: "img-fluid rounded-circle", style: "max-width: 50px;") %>
        <% end %>
      </div>
      <div class="card" style="max-height: 80vh; overflow-y: auto;">
        <img src="<%= asset_path('erd.png') %>" class="card-img-top" alt="Entity-Relationship Diagram">
        <div class="card-body">
        <h5 class="card-title">Entity-Relationship Diagram</h5>
        <p class="card-text">This database schema defines a robust foundation for a multi-user chat application. At its core, the schema consists of four primary entities: Users, Rooms, Messages, and Participants. Users can create accounts and join multiple Rooms, which can be either public or private. Within these Rooms, users can exchange Messages, which are stored along with their corresponding user and room associations. The Participants table facilitates the many-to-many relationship between Users and Rooms. Additionally, the schema integrates Active Storage for file attachments, enabling users to share files within the chat. The design prioritizes scalability, flexibility, and data integrity, making it an ideal starting point for developing a feature-rich chat application.</p>
        <p class="card-text">It imports user data from a CSV file (MOCK_DATA.csv), creating users with emails, passwords, and avatars. Additionally, it creates two default users: an admin and a normal user, both with generated avatars. The script then generates 20 chat rooms with random names and assigns each user to 3 random rooms. Finally, it creates 50 messages per user in each assigned room, using Faker to generate paragraph-long message bodies. This seed file ensures a populated database for development, testing, and demonstration purposes.</p>
        </div>
      </div>
    </div>
  </div>
</div>
